.input-container {
    /* Display */
    display: grid;
    grid-template-columns: minmax(80%, 1fr) minmax(3rem, 0.2fr);

    /* Position */
    position: relative;
}

.input-label {
    /* Position */
    position: absolute;
    top: 50%;
    left: var(--input-padding);

    /* Font */
    font-size: 0.9rem;

    /* Text */
    color: rgb(var(--secondary-color));

    /* Transform */
    translate: 0 -50%;

    /* Transition */
    transition: 250ms ease;

    /* Pointer events */
    pointer-events: none;
}
.input-label.hidden {
    display: none;
}

.input-element.filled + .input-label,
.input-element:focus + .input-label {
    /* Font */
    font-size: 0.55rem;

    /* Box */
    padding: 0 var(--label-filled-state-padding);

    /* Position */
    top: 0;
    left: var(--label-filled-state-left);

    /* Background */
    background-color: rgb(var(--primary-color));
}

.input-element {
    /* Box */
    height: 100%;
    padding: 0 var(--input-padding);

    /* Display */
    display: block;
}

.visibility-toggler {
    /* Border */
    border-top-right-radius: var(--extra-widget-border-radius);
    border-bottom-right-radius: var(--extra-widget-border-radius);

    /* Background color */
    background-color: rgb(var(--extra-widget-background-color));

    /* Color */
    fill: rgb(var(--extra-widget-icon-color));

    /* Transition */
    transition: var(--theme-switch-transition);
}
.visibility-toggler svg {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 0.75rem;
}