.page-title {
    padding: 0.75rem 0;

    border-bottom: 1px solid rgb(var(--secondary-color));
}

.settings-group {
    padding: 2rem 0;
}
.settings-group-title {
    padding-bottom: 0.25rem;
    margin-bottom: 1rem;

    font-size: 1.5rem;
    
    display: inline-block;
}

.settings-field-section {
    padding: 1rem 0;
}
.field-title {
    padding-bottom: 0.5rem;
}
.field-desc {
    max-width: 50rem;

    font-size: 0.85rem;

    color: rgb(var(--secondary-color) / 0.8);
}
.input-element-container {
    max-width: 50rem;
    margin-top: 1.25rem;
}
.input-element {
    min-height: 2.5rem;
}

.save-settings-button {
    width: 50%;
    max-width: 15rem;
    max-height: 3rem;
    margin-top: 1.25rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50rem;
}

.monthly-report-cb-container {
    margin-top: 1rem;
    
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.monthly-report-cb-container label {
    cursor: pointer;
}
