.action-link {
    --action-button-color: var(--tertiary-color-purple);
    --action-button-hover-color: var(--light-primary);
    
    padding: 0.5rem 1.75rem;
    box-sizing: border-box;

    display: inline-block;

    font-size: 1rem;
    font-weight: 600;

    color: rgb(var(--action-button-color));
    text-align: center;

    border: 0.25rem solid rgb(var(--action-button-color));

    transition: 250ms ease;
}

.action-link:hover {
    background-color: rgb(var(--action-button-color));

    color: rgb(var(--action-button-hover-color));
}