.style-switch-button {
    aspect-ratio: 1;

    display: flex;
}

.style-switch-icon-svg {
    width: 100%;
    height: 100%;

}
.style-switch-icon-svg .circle {
    transition: fill var(--theme-switch-transition);
    fill: rgb(var(--secondary-color));
}
.style-switch-icon-svg .left-half {
    fill: rgb(var(--dark-primary));
}
.style-switch-icon-svg .right-half {
    fill: rgb(var(--dark-secondary));
}
