.style-switch-button {
    /* Box */
    aspect-ratio: 1;
    max-width: 1rem;

    /* Display */
    display: flex;
}

.style-switch-icon-svg {
    /* Box */
    width: 100%;
    height: 100%;

    /* Transition */
}
.style-switch-icon-svg .circle {
    transition: fill var(--theme-switch-transition);
    fill: rgb(var(--secondary-color));
}
.style-switch-icon-svg .left-half {
    fill: rgb(var(--dark-primary));
}
.style-switch-icon-svg .right-half {
    fill: rgb(var(--light-primary));
}