## Frontend ##

# next.js
*/.next/
*/out/

# production
*/build


# local env files
*/.env*.local
*/.env*.production
*/.env*
*/.vscode

# vercel
.vercel

# other files
*/.prettierrc
*/*google*.json
*/*fin-track*.json
*/*.sh
*/wkhtmltox
*/shell_scripts
*.pdf
README.md
.gitignore
.next
.git

# Docker
Dockerfile
.dockerignore
