.flicker-animation {
    animation-name: flickering;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

@keyframes flickering {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}