/* Dashboard Layout */
.dashboardLayout {
    width: 100%;
    height: 100%;
    position: relative;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);

    --top-nav-height: 5rem;
}

/* Layout Navbar */
.sideNav {
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 20;
    position: fixed;
    transform: translateX(-100%);
    transition: 
        transform 0.5s ease,
        opacity 0.5s ease;
}
.topNav {
    z-index: 15;
    position: fixed;
}
.darkFilter {
    top: 0;
    left: 0;
    z-index: 15;
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
}

/* Layout Navbar - Stateful Styles */
.navBarToggler.displayNav {
    opacity: 0;
}
.sideNav.displayNav {
    opacity: 1;
    z-index: 100;
    transform: translate(0);
}
.darkFilter.displayNav {
    z-index: 90;
    display: block;
}

/* Layout Message Indicator */
.indicatorPos {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
}

/* Layout Content */
.content {
    width: 100%;
    z-index: 5;
    overflow-y: auto;
    position: relative;
    scrollbar-width: thin;
    top: var(--top-nav-height);
    scrollbar-color: white transparent;
    height: calc(100vh - var(--top-nav-height));
}
.content::-webkit-scrollbar {
    width: 5px;
    background: transparent;
}
.content::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-color: white;
}

@media screen and (min-width: 700px) {
    .sideNav,
    .sideNav.displayNav {
        left: 0;
        opacity: 1;
        transition: none;
        transform: translate(0);
    }
    .darkFilter,
    .darkFilter.displayNav {
        display: none;
    }
    .content {
        top: var(--top-nav-height);
        left: 15rem;
        width: calc(100% - 15rem);
    }
}