.outer-container {
    height: 100svh;

    position: relative;
}

.nav-bar {
    position: absolute;
    
    top: 0;
    right: 100%;

    z-index: 100;

    transition: translate 0.35s ease;
}

.header {
    z-index: 50;
}

.nav-bar.show {
    translate: 100% 0;
}

.main-element {
    max-height: 100svh;

    display: grid;
    grid-template-rows: auto 1fr;
}

.content-container {
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-gutter: stable both-edges;
}
.content-container::-webkit-scrollbar {
    width: 10px;

    background: transparent;
}
.content-container::-webkit-scrollbar-thumb {
    background-color: rgb(var(--secondary-color) / 0.35);
    
    border: 1px solid rgb(var(--secondary-color) / 0.35);
    border-radius: 50rem;
}

.entry-form-toggler {
    width: 3rem;
    height: 3rem;

    background-color: rgb(var(--tertiary-color-purple));
    color: rgb(var(--light-primary));

    border-radius: 50rem;

    position: fixed;

    bottom: 1.5rem;
    right: 1.5rem;

    z-index: 30;

    scale: 1;

    opacity: 0.7;

    transition: var(--theme-switch-transition);
}
.entry-form-toggler span {
    position: absolute;
    top: 50%;
    left: 50%;

    font-size: 4rem;
    font-weight: 200;

    translate: -50% -50%;
}
.entry-form-toggler:hover,
.entry-form-toggler:focus {
    scale: 1.1;
    opacity: 1;
}

.entry-form-container {
    min-width: 17.5rem;
    max-width: 25rem;
    width: 85%;
    min-height: 30rem;
    padding: 1rem;

    background-color: rgb(var(--primary-color));

    box-sizing: border-box;

    display: grid;
    grid-template-rows: auto 1fr auto;

    border: 1px solid rgb(var(--secondary-color));
    border-radius: 0.75rem;
    
    z-index: 100;
    
    opacity: 0;
    visibility: hidden;
    
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    
    transition: opacity 0.35s ease, visibility 0.35s ease; /* Hack to make opacity animation visible */
    transition-delay: visibility 0.35s ease;
}
.entry-form-container.show {
    visibility: visible;
    opacity: 1;

    transition: opacity 0.35s ease;
}
.entry-form-header {
    display: flex;
    flex-direction: row-reverse;
}
.entry-form-close-button {
    width: 1.5rem;
    aspect-ratio: 1;
}

button.bottom-close-button {
    width: 100%;
    height: 2.5rem;
    padding: 0;
    
    background-color: transparent;
    color: rgb(var(--secondary-color));
    
    border-radius: 50rem;
    border: 3px solid rgb(var(--secondary-color));
}
button.bottom-close-button:hover,
button.bottom-close-button:focus {
    background-color: rgb(var(--secondary-color));
    color: rgb(var(--primary-color));
}

.backdrop {
    width: 100svw;
    height: 100svh;

    position: absolute;

    top: 0;
    left: 0;

    z-index: 75;

    background: rgb(0 0 0 / 0);
    backdrop-filter: blur(0.35rem);
    -webkit-backdrop-filter: blur(0.35rem);

    opacity: 0;
    visibility: hidden;

    transition: opacity 0.35s ease, visibility 0.35s ease; /* Hack to make opacity animation visible */
    transition-delay: visibility 0.35s ease;
}

.backdrop.show {
    visibility: visible;
    opacity: 1;
    
    transition: opacity 0.35s ease;
}

@media screen and (min-width: 600px) {
    .outer-container {
        display: grid;
        grid-template-columns: auto 1fr;
    }    

    .nav-bar {
        left: 0;
        position: relative;

        z-index: 75;

        transition: none;
        transition-property: translate;
    }
    .nav-bar.show {
        translate: 0;
    }

    .cross-button {
        display: none;
    }

    .nav-toggler-button {
        visibility: hidden;
    }
    
    .entry-form-container {
        z-index: 125;
    }

    .backdrop {
        width: 100svw;
        height: 100svh;
    
        position: absolute;
    
        top: 0;
        left: 0;
    
        z-index: 100;
    
        background: rgb(0 0 0 / 0);
        backdrop-filter: blur(0.35rem);
        -webkit-backdrop-filter: blur(0.35rem);
    
        opacity: 0;
        visibility: hidden;
    
        transition: opacity 0.35s ease, visibility 0.35s ease; /* Hack to make opacity animation visible */
        transition-delay: visibility 0.35s ease;
    }
    
    .backdrop.show {
        visibility: visible;
        opacity: 1;
        
        transition: opacity 0.35s ease;
    }
}