.outer-container {
    height: 100vh;

    position: relative;
}

.nav-bar {
    position: absolute;
    
    top: 0;
    right: 100%;

    z-index: 100;

    transition: translate 0.35s ease;
}

.header {
    z-index: 50;
}

.nav-bar.show {
    translate: 100% 0;
}

.main-element {
    max-height: 100vh;

    display: grid;
    grid-template-rows: auto 1fr;

    z-index: 25;
}

.content-container {
    overflow: auto;
}
.content-container::-webkit-scrollbar {
    width: 10px;

    background: transparent;
}
.content-container::-webkit-scrollbar-thumb {
    background-color: rgb(var(--secondary-color) / 0.35);
    
    border: 1px solid rgb(var(--secondary-color) / 0.35);
    border-radius: 50rem;
}

.entry-form-toggler {
    width: 3rem;
    aspect-ratio: 1;

    background-color: rgb(var(--tertiary-color-purple));
    color: rgb(var(--light-primary));
    
    border-radius: 50rem;

    position: fixed;

    bottom: 1.5rem;
    right: 1.5rem;

    z-index: 30;

    font-size: 2rem;
    font-weight: 200;

    scale: 1;

    transition: var(--theme-switch-transition);
}
.entry-form-toggler:hover {
    scale: 1.1;
}

.entry-form-container {
    min-width: 15rem;
    max-width: 25rem;
    width: 70%;
    height: 90%;
    padding: 1rem;

    background-color: rgb(var(--primary-color));

    box-sizing: border-box;

    display: grid;
    grid-template-rows: auto 1fr auto;

    border: 1px solid rgb(var(--secondary-color));
    border-radius: 1rem;
    
    z-index: 100;
    
    opacity: 0;
    visibility: hidden;
    
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    
    transition: opacity 0.35s ease, visibility 0.35s ease; /* Hack to make opacity animation visible */
    transition-delay: visibility 0.35s ease;
}
.entry-form-container.show {
    visibility: visible;
    opacity: 1;

    transition: opacity 0.35s ease;
}
.entry-form-header {
    display: flex;
    flex-direction: row-reverse;
}
.entry-form-close-button {
    width: 1.5rem;
    aspect-ratio: 1;
}

.backdrop {
    width: 100vw;
    height: 100vh;

    position: absolute;

    top: 0;
    left: 0;

    z-index: 75;

    background: rgb(0 0 0 / 0);
    backdrop-filter: blur(0.35rem);

    opacity: 0;
    visibility: hidden;

    transition: opacity 0.35s ease, visibility 0.35s ease; /* Hack to make opacity animation visible */
    transition-delay: visibility 0.35s ease;
}

.backdrop.show {
    visibility: visible;
    opacity: 1;
    
    transition: opacity 0.35s ease;
}

@media screen and (min-width: 600px) {
    .outer-container {
        display: grid;
        grid-template-columns: auto 1fr;
    }    

    .nav-bar {
        left: 0;
        position: relative;

        z-index: 75;

        transition: none;
        transition-property: translate;
    }
    .nav-bar.show {
        translate: 0;
    }

    .cross-button {
        display: none;
    }

    .nav-toggler-button {
        visibility: hidden;
    }

    /*
    .backdrop,
    .backdrop.show {
        visibility: hidden;
    }
    */
    
    .entry-form-container {
        z-index: 125;
    }

    .backdrop {
        width: 100vw;
        height: 100vh;
    
        position: absolute;
    
        top: 0;
        left: 0;
    
        z-index: 100;
    
        background: rgb(0 0 0 / 0);
        backdrop-filter: blur(0.35rem);
    
        opacity: 0;
        visibility: hidden;
    
        transition: opacity 0.35s ease, visibility 0.35s ease; /* Hack to make opacity animation visible */
        transition-delay: visibility 0.35s ease;
    }
    
    .backdrop.show {
        visibility: visible;
        opacity: 1;
        
        transition: opacity 0.35s ease;
    }
}