/* Global default CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'Raleway', sans-serif;
}
h1, h2, h3, h4, th {
    font-weight: 600;
}
h1 {
    font-size: 3.25rem;
}
h2 {
    font-size: 3rem;
}
h3 {
    font-size: 2.25rem;
}
h4 {
    font-size: 1.65rem;
}
p {
    font-size: 1rem;
}
a, button {
    cursor: pointer;
    font-size: 1.25rem;
}
input:-webkit-autofill,
input:-webkit-autofill:hover {
    caret-color: white;
    background-clip: text;
    animation-delay: background-color 60000s;

    -webkit-caret-color: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: white;
    -webkit-animation-delay: background-color 60000s;
}