.portal-button {
    width: clamp(10rem, 60%, 15rem);
    padding: 1.25rem 0;

    place-self: center;

    background-color: rgb(var(--tertiary-color-purple));

    color: rgb(var(--light-primary));

    transition: var(--theme-switch-transition);
}

.portal-button:hover {
    background-color: rgb(var(--tertiary-color-purple-hover));
}