.input-container {
    min-height: 2.5rem;
    width: 100%;
    
    display: grid;
    grid-template-columns: 1fr;

    position: relative;
}

.input-label {
    position: absolute;
    top: 50%;
    left: var(--input-padding);

    font-size: clamp(0.75rem, 3svw, 1rem);

    color: rgb(var(--secondary-color));

    translate: 0 -50%;

    transition: 250ms ease;

    pointer-events: none; 
}
.input-label.hidden {
    display: none;
}

.input-element.filled ~ .input-label,
.input-element:focus ~ .input-label {
    padding: 0 var(--label-filled-state-padding);
    
    font-size: 0.6rem;

    background-color: rgb(var(--primary-color));

    top: 0;
    left: var(--label-filled-state-left);
}

.input-element {
    height: 100%;
    padding: 0 var(--input-padding);

    display: block;
}
