.form-element {
    --grid-gap-value: 0.75rem;
    --input-height: 2rem;
    --error-text-font-size: 0.6rem;

    width: 80%;
    min-width: 10rem;
    margin: 0 auto;

    display: grid;
    grid-template-columns: minmax(5rem, 100%);
    gap: var(--grid-gap-value);

    position: relative;
}

.input-element {
    height: var(--input-height);
}

.error-text-font {
    font-size: var(--error-text-font-size);
}
.error-text-color {
    color: red;
}
.error-text-pos-absolute {
    position: absolute;
}
.hide-error {
    opacity: 0;
}


.password-requirements-message {
    margin-top: calc(var(--error-text-font-size) + 0.25rem);
    font-size: 0.55rem;
}
.password-requirements-message span {
    font-size: 0.65rem;
}
.password-requirements-message ul {
    list-style-position: inside;
    list-style-type: square;
}

.submit-button {
    padding: 1rem 0;
    margin-top: 0.75rem;
}
.verification-required-message {
    margin-top:  calc(-1 * var(--grid-gap-value) + 0.125rem);
    
    font-size: 0.6rem;
    font-weight: 700;

    justify-self: center;
}
