:root {
  --dark-primary: 0 0 0;
  --dark-secondary: 255 255 255;
  --dark-tertiary-cyan: 0 240 255;
  --light-primary: 215 215 215;
  --light-secondary: 0 0 0;
  /* --light-tertiary-cyan: 0 211 224; */
  --light-tertiary-cyan: 0 183 194;
  
  --tertiary-color-purple: 143 0 255;
  --tertiary-color-purple-hover: 97 0 172;
  --tertiary-color-cyan: 0 240 255;
  --tertiary-color-cyan-hover: 0 211 224;

  --theme-switch-transition: 200ms ease;

  --header-min-height: 3rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    min-height: 100vh;

    background: rgb(var(--primary-color));
    color: rgb(var(--secondary-color));

    font-family: var(--font-raleway);
    transition: var(--theme-switch-transition);
}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

button {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}

input {
    background-color: transparent;
    outline: none;
    border: none;

    color: rgb(var(--secondary-color));
}
input:-webkit-autofill,
input:-webkit-autofill:hover {
    caret-color: rgb(var(--secondary-color));
    background-clip: text;
    animation-delay: background-color 60000s;

    -webkit-caret-color: rgb(var(--secondary-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgb(var(--secondary-color));
    -webkit-animation-delay: background-color 60000s;
}

#inner-body-wrapper {
    min-height: 100vh;
    max-width: 100rem;
    margin: 0 auto;
}

/* Themes */
[data-theme='dark-theme'] body {
    --primary-color: var(--dark-primary);
    --secondary-color: var(--dark-secondary);
    --tertiary-color-cyan: var(--dark-tertiary-cyan);
}

[data-theme='light-theme'] body {
    --primary-color: var(--light-primary);
    --secondary-color: var(--light-secondary);
    --tertiary-color-cyan: var(--light-tertiary-cyan);
}