#main {
    min-height: calc(100vh - 4rem); /* 4rem = 3rem (min-height of header) + 0.5rem * 2 (vertical padding of header) */
    padding: 0 clamp(2rem, 5vw, 5rem);

    display: grid;
    align-items: center;

}

.hero-container {
    display: grid;
    align-items: center;
    gap: 1.5rem;
}

.title-container {
    position: relative;

    font-size: clamp(2rem, 3vw, 3.5rem);

}
.title-container span {
    white-space: nowrap;
}

.short-description-container {
    min-width: 12.5rem;
    max-width: 20rem;

    font-size: clamp(0.75rem, 1.1vw, 3rem);
    font-weight: 400;
}
.hero-title-colored-text {
    color: rgb(var(--tertiary-color-purple));
}

.action-links-container {
    display: grid;
    gap: 1rem;
}
.action-links-container * {
    min-width: max-content;
    max-width: 15rem;
    width: 15%;
}
#action-link-2 {
    --action-button-color: var(--secondary-color);
    --action-button-hover-color: var(--primary-color);
}