/* Wrappers */
.homeContainer {
    margin: auto;
    position: relative;
    width: min(100%, 120rem);
    height: min(100%, 67.5rem);
}
.circleContainer {
    position: absolute;
    width: 50rem;
    height: 100%;
    z-index: -1;
}

/* Background Decoration */
.decorCircle {
    transform-origin: center;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}
.XXsmallCircle {
    width: 2rem;
    height: 2rem;
}
.XsmallCircle {
    width: 4.75rem;
    height: 4.75rem;
}
.smallCircle {
    width: 7.5rem;
    height: 7.5rem;
}
.mediumCircle {
    width: 11rem;
    height: 11rem;
}
.largeCircle {
    width: 15rem;
    height: 15rem;
}
.XlargeCircle {
    width: 20rem;
    height: 20rem;
}
.pinkCircle {
    background: radial-gradient(74.2% 86.99% at 49.32% 13.01%, #E786E3 10%, #E755E1 100%);
}
.purpleCircle {
    background: radial-gradient(74.2% 86.99% at 49.32% 13.01%, #BC66FF 0%, #8F00FF 100%);
}
.blueCircle {
    background: radial-gradient(74.2% 86.99% at 49.32% 13.01%, #717FFF 0%, #4355FF 100%);
}

/* Positional */
.id1 {
    bottom: 10%;
    left: 3%;
}
.id2 { 
    top: -15%;
    left: 6%; 
}
.id3 {
    bottom: -35.5%;
    left: 32.5%;
    transform: translate(-35%);
}
.id4 {
    left: 52.5%;
    top: 31%;
}
.id5 {
    top: 1.5%;
    left: 58%;
    transform: translate(-35%);
}
.id6 {
    left: 86.5%;
    bottom: 2.5%;
}


@media screen and (min-width: 50rem) {
    .circleContainer {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: inherit;
        width: inherit;
    }
    .blueCircle.first {
        bottom: -30%;
    }
}