/* Form Element and Input Fields */
.form-element {
    --grid-gap-value: 1rem;

    width: 85%;
    margin: 0.5rem auto;

    display: grid;
    grid-template-columns: minmax(5rem, 100%);
    gap: var(--grid-gap-value);
}
.input-field {
    min-height: 2.5rem;
}

/* Forgot Password Link */
.forgot-password-link-container {
    font-size: clamp(0.5rem, 2.5svw, 0.65rem);
    font-weight: 700;

    position: relative;
}
.forgot-password-link {
    position: absolute;
    top: calc(-1 * var(--grid-gap-value) + 0.1rem);
    right: 0;

    color: rgb(var(--tertiary-color-cyan));
}
.forgot-password-link:hover {
    text-decoration: underline;
}

/* Submit Button */
.submit-button {
    padding: 1rem 0.5rem;
}

/* Register Link */
.register-link-container {
    text-align: center;
    text-wrap: nowrap;
    
    font-size: clamp(0.4rem, 2.75svw, 0.7rem);
    font-weight: 600;

    justify-self: center;
}
.register-link {
    color: rgb(var(--tertiary-color-cyan));
}
.register-link:hover {
    text-decoration: underline;
}