/* Form Element and Input Fields */
.form-element {
    --grid-gap-value: 1rem;

    width: 90%;
    margin: 0.5rem auto;

    display: grid;
    grid-template-columns: minmax(5rem, 100%);
    gap: var(--grid-gap-value);
}
.input-field {
    min-height: 3rem;
}

/* Forgot Password Link */
.forgot-password-link-container {
    font-size: 0.875rem;
    font-weight: 700;

    position: relative;
}
.forgot-password-link {
    /* position: absolute;
    top: calc(-1 * var(--grid-gap-value) + 0.1rem);
    right: 0; */

    width: fit-content;
    margin: 0 auto;

    color: rgb(var(--tertiary-color-purple));
}
.forgot-password-link:hover {
    text-decoration: underline;
}

/* Submit Button */
.submit-button {
    height: initial;
    padding: 1rem 0.5rem;
}

/* Register Link */
.register-link-container {
    text-align: center;
    text-wrap: nowrap;
    
    font-size: 0.875rem;
    font-weight: 600;

    justify-self: center;
}
.register-link {
    color: rgb(var(--tertiary-color-purple));
}
.register-link:hover {
    text-decoration: underline;
}