.input-container {
    min-height: 2.5rem;

    display: grid;
    grid-template-columns: minmax(2.15rem, 0.02fr) 1fr;

    position: relative;
}
.input-container > * {
    min-height: 0;
    min-width: 0;
}

.sign-toggler {
    color: rgb(var(--extra-widget-icon-color));
    background-color: rgb(var(--extra-widget-background-color));

    display: table;

    position: relative;

    border-radius: 
        var(--extra-widget-border-radius)
        0
        0
        var(--extra-widget-border-radius)
    ;

    font-size: 2rem;
    font-weight: 500;
}
.vertical, .horizontal {
    width: 45%;
    height: 0.225rem;

    background-color: rgb(var(--extra-widget-icon-color));
    
    display: block;

    top: 50%;
    left: 50%;
    position: absolute;

    translate: -50% -50%;
}
.vertical {
    visibility: hidden;

    rotate: 90deg;
}
.vertical.visible {
    visibility: visible;
}

.input-wrapper {
    width: 100%;
    height: 100%;
    
    display: block;

    position: relative;
}

.input-element {
    width: 100%;
    height: 100%;
    padding: 0 var(--input-padding);

    box-sizing: border-box;

    display: block;

    inset: 0;
}

.input-label {
    position: absolute;
    top: 50%;
    left: var(--input-padding);

    font-size: clamp(0.65rem, 3vw, 0.9rem);

    color: rgb(var(--secondary-color));

    translate: 0 -50%;

    transition: 250ms ease;

    pointer-events: none; 
}
.input-label.hidden {
    display: none;
}

.input-element.filled ~ .input-label,
.input-element:focus ~ .input-label {
    font-size: 0.45rem;

    padding: 0 var(--label-filled-state-padding);

    background-color: rgb(var(--primary-color));

    top: 0;
    left: var(--label-filled-state-left);
}


