.item-element {
    padding: 1rem;

    list-style: none;
    list-style-position: inside;
    
    border-bottom: 1px solid currentColor;

    display: grid;
    grid-template-columns: 1fr auto;

    transition: background-color 0.2s ease;
}
.item-element:last-child {
    border-bottom: none;
}
.item-element:hover {
    background-color: rgb(var(--secondary-color) / 0.2);
}

.description-text {
    font-size: clamp(1.1rem, 3vw, 1.5rem);
}
.description-date {
    font-size: 0.75rem;
}
.description-amount {
    font-size: 1rem;
    font-weight: 700;

    text-align: center;
    text-wrap: nowrap;
}
.description-amount.plus {
    color: rgb(var(--tertiary-color-purple));
}
.description-amount.minus {
    color: rgb(var(--warning-color));
}

.right-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.utility-button {
    display: flex;
    align-items: center;
}
.arrow-head {
    width: 1.5rem;
    height: 1.5rem;

    rotate: 90deg;
    
    fill: rgb(var(--secondary-color));

    transition: 0.25s ease;
}
.utility-button:hover .arrow-head,
.utility-button:focus .arrow-head {
    translate: 10% 0;
}
