.item-element {
    padding: 1rem 0;

    list-style: none;
    list-style-position: inside;
    
    border-bottom: 1px solid currentColor;

    display: grid;
    grid-template-columns: 1fr auto;
}
.item-element:last-child {
    border-bottom: none;
}

.description-text {
    font-size: clamp(1.1rem, 3vw, 1.5rem);
}
.description-date {
    font-size: 0.75rem;
}
.description-amount {
    font-size: 1rem;

    text-align: center;
}
.description-amount.plus {
    color: rgb(0, 255, 0);
}
.description-amount.minus {
    color: rgb(255, 0, 0);
}

.right-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.arrow-head {
    width: 1.5rem;
    height: 1.5rem;

    rotate: 90deg;

    fill: rgb(var(--secondary-color));
}
