.item-element {
    padding: 1rem 1rem;

    list-style: none;
    list-style-position: inside;
    
    border-bottom: 1px solid rgb(var(--secondary-color) / 0.2);

    position: relative;

    display: grid;
    grid-template-columns: 1fr auto auto;

    transition: background-color 0.2s ease;
}
.item-element.selected {
    background-color: rgb(var(--secondary-color) / 0.2);
}
.item-element:last-child {
    border-bottom: none;
}

.description-text {
    max-width: 100%;
    padding-right: 1rem;

    overflow: hidden;
    word-break: break-word;

    font-size: clamp(1.1rem, 3svw, 1.5rem);
}
.description-date {
    font-size: 0.75rem;
}
.description-amount {
    font-size: 1rem;
    font-weight: 700;

    text-align: center;
    text-wrap: nowrap;
}
.description-amount.plus {
    color: rgb(var(--tertiary-color-purple));
}
.description-amount.minus {
    color: rgb(var(--warning-color));
}

.right-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.widget-container {
    padding-left: 0.5rem;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
}

.edit-button {
    display: flex;
    align-items: center;
}
.edit-icon {
    width: 1.25rem;
    height: 1.25rem;
    
    fill: rgb(var(--secondary-color));

    transition: 0.25s ease;
}
.edit-button:hover {
    .edit-icon {
        fill: rgb(var(--secondary-color) / 0.5);
    }
}

@media screen and (max-width: 640px) {
    .item-element {
        grid-template-columns: minmax(auto, calc(100% - 7.5rem)) 3.75rem 3.75rem;
    }
    
    .description-text {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
