.action-button {
    width: clamp(10rem, 60%, 15rem);
    height: 3rem;

    place-self: center;

    color: rgb(var(--light-primary));
    background-color: rgb(var(--tertiary-color-purple));

    border-radius: 20rem;

    font-size: 1rem;

    transition: var(--theme-switch-transition);
}

.action-button:hover,
.action-button:focus {
    background-color: rgb(var(--tertiary-color-purple-hover));
}
