.action-button {
    width: clamp(10rem, 60%, 15rem);
    height: 3rem;

    place-self: center;

    background-color: rgb(var(--tertiary-color-purple));

    color: rgb(var(--light-primary));

    transition: var(--theme-switch-transition);
}

.action-button:hover,
.action-button:focus {
    background-color: rgb(var(--tertiary-color-purple-hover));
}
