.form-element {
    --grid-gap-value: 2rem;
    --error-text-font-size: 0.6rem;

    width: 72.5%;
    margin: 0 auto;

    display: grid;
    justify-content: center;
    gap: var(--grid-gap-value);
}

.form-description {
    width: 80%;

    font-size: 0.6rem;

    justify-self: center;
}

.error-text-font {
    font-size: var(--error-text-font-size);
}
.error-text-color {
    color: red;
}
.error-text-pos-absolute {
    position: absolute;
}
.hide-error {
    opacity: 0;
}
