.form-element {
    --grid-gap-value: 2rem;

    width: 72.5%;
    margin: 0 auto;

    display: grid;
    justify-content: center;
    gap: var(--grid-gap-value);
}

.form-description {
    width: 80%;

    font-size: 0.6rem;

    justify-self: center;
}
