.select-checkbox {
    min-width: 1rem;
    min-height: 1rem;
    aspect-ratio: 1;
    margin: 0;

    border: 3px solid rgb(var(--secondary-color));
    border-radius: 3px;

    appearance: none;
    
    position: relative;

    cursor: pointer;
}
.select-checkbox::before {
    content: "";
    
    width: 0.5rem;
    aspect-ratio: 1;

    position: absolute;
    top: 50%;
    left: 50%;

    translate: -50% -50%;
    scale: 0;

    transition: 0.25s ease;

    box-shadow: inset 0.5rem 0.5rem rgb(var(--secondary-color));
}
.select-checkbox:checked::before {
    scale: 1;
}
