.select-checkbox {
    --width: 1.25rem;

    min-width: var(--width);
    min-height: var(--width);
    aspect-ratio: 1;
    margin: 0;

    border: 3px solid rgb(var(--secondary-color));
    border-radius: 3px;

    appearance: none;
    
    position: relative;

    cursor: pointer;
}
.select-checkbox::before {
    content: "";
    
    width: calc(var(--width) - 0.575rem);
    aspect-ratio: 1;

    position: absolute;
    top: 50%;
    left: 50%;

    translate: -50% -50%;
    scale: 0;

    transition: 0.25s ease;

    box-shadow: inset var(--width) var(--width) rgb(var(--secondary-color));
}
.select-checkbox:checked::before {
    scale: 1;
}
