#main {
    min-height: calc(100vh - var(--header-min-height) - 1rem);

    display: flex;
    justify-content: center;
}

.outer-form-container {
    width: 75%;
    min-width: 7.5rem;
    max-width: 30rem;

    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: auto 1fr;
}

.page-title {
    text-align: center;
}

.to-login-link-container {
    margin-top: 1rem;
    
    font-size: clamp(0.4rem, 2.75vw, 0.7rem);
    font-weight: 600;

    text-align: center;
}
.to-login-link {
    text-wrap: nowrap;

    color: rgb(var(--tertiary-color-cyan));
}
.to-login-link:hover {
    text-decoration: underline;
}

@media screen and ((max-width: 600px) and (min-height: 600px)) {
    .inner-form-container {
        align-self: center;
        transform: translateY(
            calc(-1 * var(--header-min-height))
        );
    }
}