.list-header {
    padding: 0 1rem;

    padding-right: 1rem;
    
    display: flex;
    justify-content: space-between;   
    align-items: center;
}

.list-title {
    border-bottom: 2px solid rgb(var(--secondary-color));
}

.delete-selected-button {
    min-height: 1.25rem;
    aspect-ratio: 1;

    visibility: hidden;
    opacity: 0;

    transition: opacity var(--theme-switch-transition), visibility var(--theme-switch-transition);

    transition-delay: visibility var(--theme-switch-transition);
}
.delete-selected-button.visible {
    visibility: visible;
    opacity: 1;
}

.trash-can-icon {
    fill: rgb(var(--secondary-color));
}

.header-left {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.empty-list-message-container {
    padding: 0 1rem;
    color: rgb(var(--secondary-color) / 0.5);
}
.empty-list-header::after {
    content: ' ...';
    letter-spacing: 0.1rem;
}
.empty-list-description {
    font-size: 0.75rem;
}