.list-controls {
    display: flex;
    align-items: center;
}
.mobile-list-head {
    width: 100%;
    min-height: 2.5rem;
    
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .left {
        width: fit-content;
        padding: 0.25rem;

        display: flex;
        align-items: center;
        gap: 0.75rem;

        .checkbox-label {
            user-select: none;
            cursor: pointer;
        }
    }
    .left:hover {
        cursor: pointer;
    }

    .right {
        display: flex;
        gap: 0.5rem;
        align-items: center;

        .select-all {
            width: 100%;
            height: 100%;
            padding: 0.5rem 0.75rem;

            font-size: 0.85rem;

            color: rgb(var(--tertiary-color-purple));
            background-color: transparent;

            border: 2px solid rgb(var(--tertiary-color-purple));
            border-radius: 20rem;
        }
        .select-all:hover {
            color: rgb(var(--light-primary));
            background-color: rgb(var(--tertiary-color-purple));
        }

        .delete {
            width: fit-content;
            height: 100%;
            padding: 0.5rem 0.75rem;

            font-size: 0.85rem;

            color: rgb(var(--warning-color));
            background-color: transparent;
            
            border-radius: 20rem;
            border: 2px solid rgb(var(--warning-color));
        }
        .delete:hover {
            color: rgb(var(--light-primary));
            background-color: rgb(var(--warning-color));
        }
    }
}

.edit-mode-button {
    width: initial;
    height: initial;
    padding: 0.5rem 0.75rem;

    background-color: transparent;

    border-radius: 20rem;
    border: 2px solid rgb(var(--tertiary-color-purple));
}
.edit-mode-button:hover {
    background: rgb(var(--tertiary-color-purple));
}

.list-title {
    margin-bottom: 0.75rem;
}

.delete-selected-button {
    min-height: 1.5rem;
    aspect-ratio: 1;

    visibility: hidden;
    opacity: 0;

    transition: opacity var(--theme-switch-transition), visibility var(--theme-switch-transition);

    transition-delay: visibility var(--theme-switch-transition);
}
.delete-selected-button.visible {
    visibility: visible;
    opacity: 1;
}

.trash-can-icon {
    fill: rgb(var(--secondary-color));
}

.desktop-list-head {
    display: none;
    align-items: center;
    gap: 1.25rem;
}

.empty-list-message-container {
    color: rgb(var(--secondary-color) / 0.5);
}
.empty-list-header::after {
    content: ' ...';
    letter-spacing: 0.1rem;
}
.empty-list-description {
    font-size: 0.75rem;
}

@media screen and (min-width: 380px) {
    .mobile-list-head {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

/* @media screen and (min-width: 640px) {
    .list-controls {
        padding: 0 1rem;

        justify-content: flex-end;
    }
    .mobile-list-head {
        display: none;
    }
    .desktop-list-head {
        display: flex;
    }
} */