/* Dashboard Action Button */
.actionButton {
    padding: 0.25rem 1rem;
    border-radius: 2rem;
    border: 1px solid white;
    backdrop-filter: blur(10px);
    transition: 0.25s ease;
    box-shadow: 0 10px 1rem rgba(0, 0, 0, 0.25);
}
.actionButton:focus {
    outline: none;
}
.actionButton:hover {
    transform: translateY(-2px);
}
