.welcome-text {
    padding-bottom: 0.75rem;

    border-bottom: 1px solid rgb(var(--secondary-color));
}

.action-button-container {
    margin-top: 0.75rem;
}

.action-button {
    height: 2.5rem;
    padding: 0;

    border-radius: 50rem;
}

.recent-entry-container {
    margin-top: 1rem;
}