.form-element {
    width: 100%;
    height: 100%;

    box-sizing: border-box;

    display: grid;
    grid-template-rows: 1fr auto;
}

.field-container {
    height: 100%;
    overflow-y: auto;
}

.field-wrapper:first-child {
    margin-top: 1rem;
}
.field-wrapper {
    margin: 0.75rem 0;
}
.field-wrapper:last-child {
    margin-bottom: 0;
}

.input-field {
    min-height: 2.5rem;
}

.button-container {
    margin-bottom: 1rem;

    display: grid;
    gap: 1rem;

    align-self: flex-end;
}

button.form-button {
    width: 100%;
    height: 2.5rem;
    padding: 0;
    
    background-color: transparent;
    
    border-radius: 50rem;
}

button.submit-button {
    color: rgb(var(--tertiary-color-purple));

    border: 3px solid rgb(var(--tertiary-color-purple));
}
button.submit-button:hover,
button.submit-button:focus {
    color: rgb(var(--light-primary));
}

button.clear-button {
    color: rgb(var(--warning-color));
    
    border: 3px solid rgb(var(--warning-color));
}
button.clear-button:hover,
button.clear-button:focus {
    color: rgb(var(--light-primary));
    
    background-color: rgb(var(--warning-color));
}