.form-element {
    width: 100%;
    height: 100%;
    padding: 1.5rem 0;

    box-sizing: border-box;

    display: grid;
}

.field-wrapper {
    margin-top: 1.25rem;
}

.input-field {
    min-height: 2.5rem;
}

.button-container {
    display: grid;
    gap: 1rem;

    align-self: flex-end;
}

button.form-button {
    width: 100%;
    height: 2.5rem;
    padding: 0;
    
    background-color: transparent;
    
    border-radius: 50rem;
}

button.submit-button {
    color: rgb(var(--tertiary-color-purple));

    border: 3px solid rgb(var(--tertiary-color-purple));
}
button.submit-button:hover {
    color: rgb(var(--light-primary));
}

button.clear-button {
    color: red;
    
    border: 3px solid red;
}
button.clear-button:hover {
    background-color: red;
    color: rgb(var(--light-primary));
}